@page
@model SoccerScores.WebUI.Pages.Admin.Players.CreateModel
@{
}

<div id="app">
    <div v-if="created === false" class="input-form">
        <div class="input-form">
            <h5>Create Player</h5>
            <div class="input-section">
                <div class="input-title">First Name</div>
                <input v-model="playerModel.firstName" />
                <div class="input-title">Last Name</div>
                <input v-model="playerModel.lastName" />
                <div type="date" class="input-title">Date of Birth</div>
                <input v-model="playerModel.dateOfBirth" />
                <div class="input-title">Position</div>
                <select v-model="playerModel.position">
                    <option disabled>Please select one</option>
                    <option v-for="(position, index) in rel.positions" v-bind:value="position">
                        {{position}}
                    </option>
                </select>
            </div>

            <div class="input-section">
                <div class="input-title">Foot</div>
                <select v-model="playerModel.foot">
                    <option disabled>Please select one</option>
                    <option v-for="(foot, index) in rel.foots" v-bind:value="foot">
                        {{foot}}
                    </option>
                </select>
                <div type="number" class="input-title">Height (cm)</div>
                <input v-model="playerModel.height" />
                <div type="number" class="input-title">Weight (kg)</div>
                <input v-model="playerModel.weight" />
            </div>

            <div class="input-section">
                <div class="input-title">Nationality</div>
                <select v-model="playerModel.nationalityId">
                    <option disabled>Please select one</option>
                    <option v-for="(country, index) in rel.countries" v-bind:value="country.id">
                        {{country.name}}
                    </option>
                </select>
            </div>

            <div class="input-section">
                <div class="input-title">Place of Birth Country</div>
                <select v-model="rel.pobCountryId" v-on:change="getCities(rel.pobCountryId)">
                    <option disabled>Please select one</option>
                    <option v-for="(country, index) in rel.countries" v-bind:value="country.id">
                        {{country.name}}
                    </option>
                </select>
                <div class="input-title">Place of Birth</div>
                <select v-model="playerModel.placeOfBirthId">
                    <option disabled>Please select one</option>
                    <option v-for="(city, index) in rel.cities" v-bind:value="city.id">
                        {{city.name}}
                    </option>
                </select>
            </div>

            <div class="input-section">
                <label for="clubCheckbox">Assign Club</label>
                <input type="checkbox" id="clubCheckbox" v-model="assignedClub">
                <template v-if="assignedClub">
                    <div class="input-title" style="margin-top:1em">Club Country</div>
                    <select v-model="rel.clubCountryId" v-on:change="getClubs(rel.clubCountryId)">
                        <option disabled>Please select one</option>
                        <option v-for="(country, index) in rel.countries" v-bind:value="country.id">
                            {{country.name}}
                        </option>
                    </select>
                    <div class="input-title">Club</div>
                    <select v-model="playerModel.clubId">
                        <option disabled>Please select one</option>
                        <option v-for="(club, index) in rel.clubs" v-bind:value="club.id">
                            {{club.name}}
                        </option>
                    </select>
                    <div class="input-title">Shirt Number</div>
                    <input type="number" v-model="playerModel.shirtNumber" />
                </template>
            </div>

            <div class="confirm-discard">
                <button v-on:click="createPlayer()" class="btn-confirm">Confirm</button>
                <button v-on:click="discardPlayer()" class="btn-discard">Discard</button>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="basic-message">Successfully created {{playerModel.name}}</div>
        <button v-on:click="createNew()" class="btn-confirm">Create New</button>
    </div>
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                created: false,
                loading: true,
                assignedClub: false,
                playerModel: {
                    id: 0,
                    firstName: "",
                    lastName: "",
                    dateOfBirth: "",
                    position: null,
                    foot: null,
                    height: 0,
                    weight: 0,
                    nationalityId: null,
                    placeOfBirthId: null,
                    clubId: 0,
                    shirtNumber: 0,
                },
                rel: {
                    positions: @Html.Raw(Json.Serialize(Model.Positions)),
                    foots: @Html.Raw(Json.Serialize(Model.Foots)),
                    countries: null,
                    cities: null,
                    clubs: null,
                    pobCountryId: 0,
                    clubCountryId: 0,
                },
            },
            mounted() {
                this.getCountries()
            },
            methods: {
                createPlayer() {
                    this.loading = true
                    axios.post('/api/players/', this.playerModel)
                        .then(res => {
                            this.created = true
                        })
                        .catch(err => {
                            console.log(err);
                        })
                        .then(() => {
                            this.loading = false
                        });
                },
                getCountries() {
                    this.loading = true
                    axios.get('/api/countries/all')
                        .then(res => {
                            this.rel.countries = res.data
                        })
                        .catch(err => {
                            console.log(err)
                        })
                        .then(() => {
                            this.loading = false
                        })
                },
                getCities(countryId) {
                    this.loading = true
                    axios.get('/api/cities/country/' + countryId)
                        .then(res => {
                            this.rel.cities = res.data
                        })
                        .catch(err => {
                            console.log(err)
                        })
                        .then(() => {
                            this.loading = false
                        })
                },
                getClubs(countryId) {
                    this.loading = true
                    axios.get('/api/clubs/country/' + countryId)
                        .then(res => {
                            this.rel.clubs = res.data
                        })
                        .catch(err => {
                            console.log(err)
                        })
                        .then(() => {
                            this.loading = false
                        })
                },
                discardPlayer() {
                    this.playerModel.id = 0,
                    this.playerModel.firstName = ""
                    this.playerModel.lastName = ""
                    this.playerModel.dateOfBirth = ""
                    this.playerModel.position = null
                    this.playerModel.foot = null
                    this.playerModel.height = 0
                    this.playerModel.weight = 0
                    this.playerModel.nationalityId = null
                    this.playerModel.placeOfBirthId = null
                    this.playerModel.clubId = 0
                    this.playerModel.shirtNumber = 0
                },
                createNew() {
                    this.discardPlayer()
                    this.created = false
                },
            },
            computed: {
            }
        });
    </script>
}
