@page
@model SoccerScores.WebUI.Pages.IndexModel
@{ ViewData["Title"] = "Fixtures"; }

<div id="app">
    <div class="title-dates">
        <p>Matches</p>
        <button>@DateTime.Now.ToString("MM/dd/yy")</button>
    </div>

    <div v-for="(c, index) in competitions" class="matches-container">
        <a href="#">
            <div class="matches-comp">
                <div class="matches-comp-flag">
                    <img src="" alt="flag" />
                </div>
                <div class="matches-comp-name">{{c.name}}</div>
            </div>
        </a>

        <div v-for="(m, index) in c.matches" class="match-container">
            <a class="match-home-team" asp-page="/Club" asp-route-id="1">
                {{m.homeTeam.name}}
            </a>

            @*<div v-if="">

            </div>
            <div v-else="">
                <a class="match-result" asp-page="/Match" asp-route-id="1">
                    1:1
                </a>
            </div>*@

            <a class="match-result" asp-page="/Match" asp-route-id="1">
                {{m.kickOff.substring(11, 16)}}
            </a>

            <a class="match-away-team" asp-page="/Club" asp-route-id="1">
                {{m.awayTeam.name}}
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/guest/fixtures.js"></script>
}
