@page
@model SoccerScores.WebUI.Pages.IndexModel
@{ ViewData["Title"] = "Fixtures"; }

<div id="app">
    <div class="title-dates">
        <p>Matches</p>
        <button>@DateTime.Now.ToString("MM/dd/yy")</button>
    </div>

    <div v-for="(c, index) in competitions" class="matches-container">

        <a v-bind:href="c.type + '/' + c.id">
            <div class="matches-comp">
                <div class="matches-comp-flag">
                    <img v-bind:src="c.flag" alt="flag" />
                </div>
                <div class="matches-comp-name">{{c.name}}</div>
            </div>
        </a>

        <div v-for="(m, index) in c.matches" class="match-container">
            <a class="match-home-team" v-bind:href="'/club/'+ m.homeTeam.id">
                {{m.homeTeam.name}}
            </a>

            <a v-if="m.result === null"
               class="match-result" v-bind:href="'/match/'+ m.id">
                {{m.kickOff.substring(11, 16)}}
            </a>
            <a v-else="" class="match-result" v-bind:href="'/match/'+ m.id">
                {{m.result.homeScore}}:{{m.result.awayScore}}
            </a>

            <a class="match-away-team" v-bind:href="'/club/'+ m.awayTeam.id">
                {{m.awayTeam.name}}
            </a>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/guest/fixtures.js"></script>
}
