<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scores.UI</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <header>
            <a asp-page="/Admin/Index">Admin Panel</a>
            <nav>
                <a asp-page="/Admin/Countries/Index">Countries</a>
                <a asp-page="/Admin/Cities">Cities</a>
                <a asp-page="/Admin/Competitions">Competitions</a>
                <a asp-page="/Admin/Clubs">Clubs</a>
                <a asp-page="/Admin/Players">Players</a>
                <a asp-page="/Admin/Matches">Matches</a>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
