@page
@model SoccerScores.WebUI.Pages.Admin.MatchesModel
@{
}

<h5 class="title are-medium has-text-light" style="margin-bottom:.75rem;">Matches</h5>

<p class="has-text-lighter">
    This page allows you to manage matches.
</p>

@*Load matches here*@
