<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scores.UI</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="main-container">
        <nav>
            <a asp-page="/Index"><strong>SOCCER</strong>SCORES</a>

            <svg id="hamClosed" class="hamsvg hover-shadow" onclick="openSideMenu()"
                 version="1.1" x="0px" y="0px" width="700px" height="450px" viewBox="0 0 700 450" style="enable-background:new 0 0 700 450;" xml:space="preserve">
                <g>
                    <path d="M655,180H45c-24.85,0-45,20.15-45,45v0c0,24.85,20.15,45,45,45h610c24.85,0,45-20.15,45-45v0 C700,200.15,679.85,180,655,180z" />
                    <path d="M655,0H245c-24.85,0-45,20.15-45,45v0c0,24.85,20.15,45,45,45h410c24.85,0,45-20.15,45-45v0C700,20.15,679.85,0,655,0z" />
                    <path d="M655,360H365c-24.85,0-45,20.15-45,45v0c0,24.85,20.15,45,45,45h290c24.85,0,45-20.15,45-45v0 C700,380.15,679.85,360,655,360z" />
                </g>
            </svg>

            <div id="sideMenu" class="side-menu">
                <a asp-page="/Index"><h4>Fixtures</h4></a>
                <a asp-page="/Competitions"><h4>Competitions</h4></a>
                <a asp-page="/Clubs"><h4>Teams</h4></a>
                <a asp-page="/Players"><h4>Players</h4></a>
            </div>

            <div id="sideMenuBG" onclick="closeSideMenu()"></div>

            <svg id="hamOpened" class="hamsvg hover-shadow" onclick="closeSideMenu()" style="display: none;"
                 version="1.1" x="0px" y="0px" width="521.34px" height="521.34px" viewBox="0 0 521.34 521.34" style="enable-background: new 0 0 521.34 521.34;" xml:space="preserve">
                <g>
                    <path d="M521.34,476.34c0,11.51-4.4,23.04-13.18,31.82c-17.57,17.57-46.07,17.57-63.64,0L13.18,76.82C4.4,68.04,0,56.51,0,45
                                  c0-11.51,4.4-23.04,13.18-31.82c17.57-17.57,46.07-17.57,63.64,0l431.34,431.34C516.94,453.3,521.34,464.82,521.34,476.34z" />
                    <path d="M45,521.34c-11.51,0-23.04-4.4-31.82-13.18c-17.57-17.57-17.57-46.07,0-63.64L444.52,13.18C453.3,4.4,464.82,0,476.34,0
                                  c11.51,0,23.04,4.4,31.82,13.18c17.57,17.57,17.57,46.07,0,63.64L76.82,508.16C68.04,516.94,56.51,521.34,45,521.34z" />
                </g>
            </svg>
        </nav>

        @RenderBody()
    </div>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
