@page
@model SoccerScores.WebUI.Pages.Admin.Countries.IndexModel
@{
}

<div id="app">
    <div>Countries panel</div>
    
    <div v-for="(c, index) in countries" class="matches-container">
        <div class="matches-comp">
            <div class="matches-comp-flag">
                <img v-bind:src="c.flag" alt="flag" />
            </div>
            <a v-bind:href="'countries/edit/' + c.id" class="btn-edit" style="margin-right:1em">
                Edit
            </a>
            <a class="btn-disabled" style="margin-right:1em">
                Delete
            </a>
            <div class="matches-comp-name">{{c.id}} | {{c.name}}</div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/countries.js"></script>
}
