@page
@model Scores.UI.Pages.StandingsModel
@{
}

<div class="player-container">
    <h4>La Liga</h4>
    <img src="/FC_Barcelona.svg" alt="club image" />
</div>

<div class="title-dates">
    Season <button>2020/2021</button>
</div>

<h5>Matches</h5>

<div class="match-container">
    <div class="match-home-team">FC Barcelona</div>
    <div class="match-result" style="background: var(--clr-loss)">1 - 2</div>
    <div class="match-away-team">Tottenham Hotspur</div>
</div>
<div class="match-container">
    <div class="match-home-team">FC Barcelona</div>
    <div class="match-result" style="background: var(--clr-win)">2 - 0</div>
    <div class="match-away-team">Leeds United</div>
</div>
<div class="match-container">
    <div class="match-home-team">Manchester City</div>
    <div class="match-result" style="background: var(--clr-draw)">2 - 2</div>
    <div class="match-away-team">FC Barcelona</div>
</div>
<div class="match-container">
    <div class="match-home-team">Newcastle United</div>
    <div class="match-result">21:00</div>
    <div class="match-away-team">FC Barcelona</div>
</div>
<div class="match-container">
    <div class="match-home-team">Fulham</div>
    <div class="match-result">16:00</div>
    <div class="match-away-team">FC Barcelona</div>
</div>
<div class="match-container">
    <div class="match-home-team">FC Barcelona</div>
    <div class="match-result">21:00</div>
    <div class="match-away-team">Watford</div>
</div>

<h5>Standings</h5>

<div class="standings-container">
    <div></div>
    <div class="st-light">Team</div>
    <div class="st-light st-center">P</div>
    <div class="st-light st-center">W</div>
    <div class="st-light st-center">D</div>
    <div class="st-light st-center">L</div>
    <div class="st-light st-center">Pts</div>

    <div class="st-light st-center">1</div>
    <div class="st-strong">Atletico Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>

    <div class="st-light st-center">2</div>
    <div class="st-strong">Real Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>

    <div class="st-light st-center">3</div>
    <div class="st-strong">Atletico Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>

    <div class="st-light st-center">4</div>
    <div class="st-strong">Atletico Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>
</div>
