@page "{id}"
@model SoccerScores.WebUI.Pages.Admin.Cities.EditModel
@{
}

<div id="app">
    <div v-if="loading === true">
        Loading...
    </div>
    <div v-else class="input-form">
        <h5>Edit City {{city.id}}</h5>
        <div>Name</div>
        <input v-model="city.name" />
        <div class="confirm-discard">
            <button v-on:click="updateCity(cityId)" class="btn-confirm">Confirm</button>
            <button v-on:click="getCity(cityId)" class="btn-discard">Discard</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                cityId: @Model.CityId,
                loading: true,
                city: null,
            },
            mounted() {
                this.getCity(this.cityId)
            },
            methods: {
                getCity(id) {
                    this.loading = true;
                    axios.get('/api/cities/' + id)
                        .then(res => {
                            this.city = res.data
                        })
                        .catch(err => {
                            console.log(err);
                        })
                        .then(() => {
                            this.loading = false;
                        });
                },
                updateCity(id) {
                    this.loading = true;
                    axios.put('/api/cities/' + id, this.city)
                        .then(res => {
                            console.log(res);
                        })
                        .catch(err => {
                            console.log(err);
                        })
                        .then(() => {
                            this.loading = false;
                        });
                },
            },
            computed: {
            }
        });
    </script>
}
